body{
    text-align: center;

}

.contenedor{
    padding: 1em;
    width: 70%;
    text-align: center;
    border: 1px solid #000;
    margin: 0 auto;
}

.cabecera{

    background: cadetblue;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0.5em;
}
.post{
    padding: 1em;
}